
{% extends "admin_company/base/base.html" %}
{% load static %}

{% block title %}Add {{current_company.name}} Service FAQ{% endblock title %}

{% block company_content %}  

	<!-- Content Starts -->
    <div class="row">
        <div class="col-lg-12">
            <form method="post" action="{% url 'superadmin:add_service_faq' current_company.slug %}" class="needs-validation" enctype="multipart/form-data" id="add-service-faq-form">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0" >Add Service FAQ</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">                            
                            <div class="col-md-4 mb-3">
                                <label for="category-dropdown" >Category <span class="text-danger">*</span></label>
                                <select class="form-control" id="category-dropdown" name="category" required>
                                    <option value="" hidden disabled selected>Select Category</option>
                                    {% for category in categories %}
                                    <option value="{{category.slug}}">{{category.name}}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Please provide the category.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="sub-category-dropdown" >Sub Category <span class="text-danger">*</span></label>
                                <select class="form-control" id="sub-category-dropdown" name="sub_category" required>
                                    <option value="" hidden disabled selected>Select Sub Category</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please provide the sub category.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="service-dropdown" >Service <span class="text-danger">*</span></label>
                                <select class="form-control" id="service-dropdown" name="service" required>
                                    <option value="" hidden disabled selected>Select Service</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please provide the service.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>                                                

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label class="col-form-label">Question <span class="text-danger">*</span></label>
                                <textarea class="form-control" rows="3" id="question-input" name="question" placeholder="Question"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label class="col-form-label">Answer <span class="text-danger">*</span></label>
                                <textarea class="form-control" rows="3" id="answer-input" name="answer" placeholder="Answer"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <input type="checkbox" class="form-check-input" id="check-input" name="dynamic_place_rendering"></input>
                                <label for="check-input" class="form-label">Dynamic Place Rendering </label>
                            </div>
                        </div>
                    </div>
                </div>     

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
                </div>
            </form>
                
        </div>
	<!-- /Content End -->
	
</div>
<!-- /Page Content -->
				
{% endblock company_content %}

{% block scripts %}
<script>
    $(document).ready(() => {
        // Get Sub Categories
        function getSubCategories() {
            const category = $('#category-dropdown').val();
            const company = `{{current_company.slug}}`;

            $.ajax({
                type: 'GET',
                url: `{% url 'service:get_sub_categories' %}`,
                dataType: 'json',
                data: {
                    "category_slug": category,
                    "company_slug": company
                },
                success: response => {
                    $('#sub-category-dropdown').html(`<option value="" hidden disabled selected>Select Sub Category</option>`);
                    
                    if (response.sub_categories && response.sub_categories.length > 0) {
                        response.sub_categories.forEach(sub_category => {
                            $('#sub-category-dropdown').append(`<option value="${sub_category.slug}">${sub_category.name}</option>`)
                        })
                    }
                    
                    if (response.error) {
                        console.error("Error: ", response.error)
                    }
                },
                error: error => console.error("Error: ", error),
            });            
        };

        $('#category-dropdown').on('change', () => getSubCategories());

        // Get Services
        function getServices() {
            const sub_category = $('#sub-category-dropdown').val();
            const company = `{{current_company.slug}}`;

            $.ajax({
                type: 'GET',
                url: `{% url 'service:get_services' %}`,
                dataType: 'json',
                data: {
                    "sub_category_slug": sub_category,
                    "company_slug": company
                },
                success: response => {
                    $('#service-dropdown').html(`<option value="" hidden disabled selected>Select Service</option>`);
                    
                    if (response.services && response.services.length > 0) {
                        response.services.forEach(service => {
                            $('#service-dropdown').append(`<option value="${service.slug}">${service.name}</option>`)
                        })
                    }
                    
                    if (response.error) {
                        console.error("Error: ", response.error)
                    }
                },
                error: error => console.error("Error: ", error),
            });            
        };

        $('#sub-category-dropdown').on('change', () => getServices());
    })
</script>
{% endblock scripts %}