{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-186556997-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-186556997-1');
</script>


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TBKRBV2');</script>
<!-- End Google Tag Manager -->


<meta name="p:domain_verify" content="28769622c011e3f608ad7f03c6c65528"/>
<meta name="google-site-verification" content="6age_yBzkuTa9uIkKonb_VO3OFUPZ_eyKxCM48MBLuM" />
<meta name="msvalidate.01" content="4D196FD7BB898D60AE3855BA5DB31BFB" />
<meta name="yandex-verification" content="d0dff9991249de3f" />
 


<script src="https://www.google.com/recaptcha/api.js?render=6LcXaHUbAAAAAFtmiUae4KHq5sQoj_eOnv3oDWki"></script>	

  <script>
      function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
          grecaptcha.execute('6LcXaHUbAAAAAFtmiUae4KHq5sQoj_eOnv3oDWki', {action: 'submit'}).then(function(token) {
              // Add your logic to submit to your backend server here.
          });
        });
      }
  </script>



  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BZindia - Find the Top Companies in India</title>
  
  <link rel="shortcut icon" href="{% if company_page %}{{company.favicon.url}}{% else %}{% static 'images/favicon.png' %}{% endif %}">
  <meta name="description" content="GST Registration for Food Marketing Company, Online GST Number, Required Documents">
<meta name="keywords" content="Top Companies in India, Find Top Companies, best Service Poviders in India, Top Service Providers in India">

<meta name="robots" content="index, follow">

<link rel="canonical" href="https://www.bzindia.in/registration/">

 
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="LegalGuides - Find the Top Companies in India" />
  <meta property="og:url" content="https://bzindia.in/buy-chicken/online-fresh-chicken-home-delivery-in-trichy/" />
  <meta property="og:site_name" content="LegalGuides Associates" />
  <meta property="og:image" content="https://example.com/your-image.jpg" /> 
  <meta property="og:description" content="site description!" />

  <!-- Twitter Card meta tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="LegalGuides - Find the Top Companies in India" />
  <meta name="twitter:description" content="site description!" />
  <meta name="twitter:image" content="https://example.com/your-image.jpg" /> 
  <meta name="twitter:site" content="@Bzindia_in" />
  <meta name="twitter:creator" content="@Bzindia_in" />

  <!-- Other meta tags -->
  <meta property="article:publisher" content="https://www.facebook.com/BZindia/" />
  <meta property="article:published_time" content="2022-10-07T18:01:17+00:00" />
  <meta name="author" content="BZindia" />
  
<meta property="og:image" content="https://bzindia.in/wp-content/uploads/2022/10/ac-repair-and-service-in-india-1536x400.jpg" />
<meta property="og:image:width" content="800" />
<meta property="og:image:height" content="800" />
<meta property="og:image:type" content="image/jpg" />

<link rel="icon" href="https://bzindia.in/wp-content/uploads/2022/08/Fav-icon.png" sizes="32x32" />
<link rel="icon" href="https://bzindia.in/wp-content/uploads/2022/08/Fav-icon.png" sizes="192x192" />
<link rel="icon" href="https://bzindia.in/wp-content/uploads/2022/08/Fav-icon.png" sizes="180x180" />
<link rel="icon" href="https://bzindia.in/wp-content/uploads/2022/08/Fav-icon.png" sizes="270x270" />

{% block schemas %}{% endblock schemas %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "name": "Nearby Directory",
    "description": "Explore nearby offices by category, including healthcare, IT, finance, and more.",
    "url": "https://bzindia.in/find/",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Post Office & Pincode in Nearby Locations",
        "url": "https://bzindia.in/find/post/"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Police Stations in Nearby Locations",
        "url": "https://bzindia.in/find/police-stations/"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "Common Service Centre - CSC in Nearby Locations",
        "url": "https://bzindia.in/find/csc/"
      },
      {
        "@type": "ListItem",
        "position": 4,
        "name": "Judicial Courts in Nearby Locations",
        "url": "https://bzindia.in/find/courts/"
      },
      {
        "@type": "ListItem",
        "position": 5,
        "name": "Bank and IFSC in Nearby Locations",
        "url": "https://bzindia.in/find/bank-and-ifsc/"
      }
    ,
      {
        "@type": "ListItem",
        "position": 6,
        "name": "Destinations in Nearby Locations",
        "url": "https://bzindia.in/find/destinations/"
      }
    ]
  }
  </script>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "name": "Nearby Tourist Destinations",
      "itemListElement": [
        {% for attraction in attractions|slice:":10" %}
        {
          "@type": "ListItem",
          "position": {{forloop.counter}},
          "item": {
            "@type": "TouristDestination",
            "name": "{{attraction.name}}",
            "description": "{{attraction.description}}",
            "url": "https://{{request.get_host}}/destination/{{attraction.slug}}",
            "image": "https://{{request.get_host}}/{% if attraction.image %}{{attraction.image.url}}{% else %}#{% endif %}",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "{{attraction.get_place}}",
              "addressLocality": "{{attraction.district}}",
              "addressRegion": "{{attraction.state}}",
              "postalCode": "{{attraction.pincode}}",
              "addressCountry": "IN"
            },
            "geo": {
              "@type": "GeoCoordinates",
              "latitude": "{{attraction.latitude}}",
              "longitude": "{{attraction.longitude}}"
            },
            "openingHoursSpecification": {
              "@type": "OpeningHoursSpecification",
              "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
              "opens": "06:00",
              "closes": "19:00"
            },
            "amenityFeature": [
              {
                "@type": "LocationFeatureSpecification",
                "name": "Restrooms Available",
                "value": true
              },
              {
                "@type": "LocationFeatureSpecification",
                "name": "Guide Services Available",
                "value": true
              },
              {
                "@type": "LocationFeatureSpecification",
                "name": "Food Court",
                "value": true
              },
              {
                "@type": "LocationFeatureSpecification",
                "name": "Parking Available",
                "value": true
              }
            ]
          }
        }{% if not forloop.last %},{% endif %}
        {% endfor %}      
      ]
    }
  </script>

  <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "CollectionPage",
    "name": "Tags Page",
    "description": "A page listing various tags for categorizing content.",
    "url": "https://www.example.com/tags",
    "mainEntity": {
      "@type": "ItemList",
      "itemListElement": [
      {% for tag in tags %}
      {
        "@type": "ListItem",
        "position": {{forloop.counter}},
        "url": "https://www.example.com/tags/{{tag.slug}}",
        "name": "{{tag.name}}"
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
      // Add more tags as needed
      ]
    }
    }
  </script>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebPage",
      "mainEntity": {
        "@type": "CreativeWork",
        "name": "Keyphrases",
        "about": [
          {% for tag in tags %}
          {
            "@type": "Thing",
            "name": "{{tag.name}}"
          }{% if not forloop.last %},{% endif %}
          {% endfor %}
          // Add more keyphrases as needed
        ]
      }
    }
    </script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "ItemList",
        "name": "List of Blog Articles",
        "itemListElement": [
          {% for blog in slider_blogs|slice:":3" %}
          {
            "@type": "ListItem",
            "position": {{forloop.counter}},
            "item": {
              "@type": "BlogPosting",
              "headline": "{{blog.title}}",
              "image": "https://{{request.get_host}}{% if blog.image %}{{blog.image.url}}{% else %}#{% endif %}",
              "datePublished": "{{blog.published_date.date|date:'Y-m-d'}}",
              "dateModified": "{{blog.updated.date|date:'Y-m-d'}}",
              "author": {
                "@type": "Person",
                "name": "Admin"
              },
              "publisher": {
                "@type": "Organization",
                "name": "{{blog.company.name}}",
                "logo": {
                  "@type": "ImageObject",
                  "url": "https://{{request.get_host}}/company/{{blog.company.slug}}"
                }
              },
              "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://{{request.get_host}}/blog/{{blog.slug}}"
              },
              "articleBody": "{{blog.summary}}",
              "keywords": "{{blog.get_meta_tags}}",
              "url": "https://{{request.get_host}}/blog/{{blog.slug}}"
            }
          }{% if not forloop.last %},{% endif %}
          {% endfor %} 
        ]
      }
      </script>

  <!-- aos animation link -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- // -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  {% comment %} <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/coustome.css' %}">


  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css' %}">

</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TBKRBV2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->



  <!-- home -banner section-start -->

 
      

 
        <!-- header-section start -->

        <header class="inner-hom-banner-section" id="banner-top" data-aos="fade-in" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
      
          <div class="cmpany-logo-top-section">
           <div class="cmpny-logo">
              <h1 itemprop="headline">Find the best companies in India for your service or product needs.</h1>
               <meta itemprop="name" content="Find the best companies in India for your service or product needs.">
                <meta itemprop="description" content="Find the best companies in India for your service or product needs. Explore our curated business directory, focusing on one trusted company that delivers top-notch services and products nationwide.">
           </div>
           <div class="cmpny-logo-section-cntct-pge">
             <div>
               <span class="banner-top-call-btn">
                 <a href="tel:+919606377677"><i class="fas fa-phone"></i><span class="banner-cl-number">9606377677 -
                     9606277677</span> </a></span>
               <span class="get-a-qts-bx"> <a id="myBtn" href="#">Get A Quote <i class="fas fa-angle-double-right"></i></a></span>
    
   
   <!-- The Modal -->
   <div id="myModal" class="modal">
   
     <!-- Modal content -->
     <div class="modal-content">
       <span class="close">&times;</span>
      
      
      <div class="faq-form-section" style="padding: 10px; box-shadow: none; border-radius: 0; border: 0;">
                   <h2 style="color:#000;">ONLINE REGISTRATION IN INDIA</h2>
                   <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                    <form action="" method="post">
                      <input type="text" name="name" placeholder="Your Name:"><br>
                      <input type="tel" name="number" placeholder="Phone Number:"><br>
                      <input type="email" name="email" placeholder="E-Mail Address:"><br>
                <select class="country" name="country">
                         <option value="0" selected disabled hidden>-- Select Services --</option>
                       <option value="usa">ISO registration</option>
                       <option value="canada">ISO registration</option>
                       <option value="uk">ISO registration</option>
                       <option value="australia">ISO registration</option>
    
                      </select><br>
                     <select class="country" name="state">
                         <option value="0" selected disabled hidden>-- Select State --</option>
                       <option value="Kerala">Kerala</option>
                      
                       <!-- Add more options as needed -->
                     </select><br>
   
                      <textarea name="message" rows="4" placeholder="Requirements:" cols="50"></textarea><br>
                     <div class="frm-btn-sctn">
                       <div>
                         <button class="primary_button" role="button" type="submit">SUBMIT</button>
                       </div>
                     </div>
                   </form>
                 </div>
      
     </div>
   
   </div>
             </div>
           </div>
         </div>
         
          <meta itemprop="name" content="LegalGuides Associates">
       <meta itemprop="description" content="LegalGuides - Find the Top Companies in India">
       
   
           
               <div class="main-wrapper">
         {% include "navbar.html" %}
       </div>
           
         
       </header>

        <!-- header-section end -->
         
        {% block content %}{% endblock content %}


  <!-- footer section start -->

  {% include "footer.html" %}


  <!-- js -->
<script>
var acc = document.getElementsByClassName("accordion");

for (let i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function () {
    var panel = this.nextElementSibling;
    var isActive = this.classList.contains("active");

    // Close all other panels
    for (let j = 0; j < acc.length; j++) {
      if (acc[j] !== this) {  // Don't close the clicked one yet
        acc[j].classList.remove("active");
        acc[j].nextElementSibling.style.display = "none";
      }
    }

    // Toggle the clicked panel
    this.classList.toggle("active");
    panel.style.display = isActive ? "none" : "block";
  });
}

</script>
 
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display="block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display="none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display="none";
      }
    }
    </script>
    
      <script src="https://kit.fontawesome.com/ef28b1feab.js" crossorigin="anonymous"></script>
      <!--  -->
    
      <!-- aos script -->
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <!--  -->
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
      <script src="{% static 'js/slick.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/coustome.js' %}"></script>
      
     
        <script src="{% static 'js/script.js' %}"></script>
        
     
     
    <script src="{% static 'easy-responsive-tabs.js' %}"></script>
     
    <script>
      $(document).ready(() => {
        AOS.refresh();
      });
    
    </script>
  
</body>

</html>