{% load static %}
<section style="padding:40px 0px 0px 0px;">
  <div class="container">
<div class="row" style="margin:50px 0 50px 0;" >
    <div class="offerd-service-section" style="margin-bottom:0;">
      <h3>FIND NEARBY</h3>
       <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
      <div class="nearby_govt_off">
      
        <div class="services-block-two">
    <div class="inner-box">
<div class="nearby_img">
      <img src="{% static 'images/Nearby-Police-Stations.jpeg' %}" alt="Find Nearby Police Station">
        </div>
<h3 class="nearby_head"><a href="DDDDDD">Nearby Police Station</a>
<a href="DDDDDD" class="simple_menu_stle" title="Find Nearby Police Station"><i class="fa fa-crosshairs" aria-hidden="true"></i> Find Nearby</a></h3>
        </div>
        </div>
                  
                  
         <div class="services-block-two">
    <div class="inner-box">
<div class="nearby_img">
      <img src="{% static 'images/nearby-post-office.jpeg' %}" alt="Find Nearby Post Office">
        </div>
<h3 class="nearby_head"><a href="DDDDDD">Nearby Post Office & Pincode</a>
<a href="DDDDDD" class="simple_menu_stle" title="Find Nearby Post Office"><i class="fa fa-crosshairs" aria-hidden="true"></i> Find Nearby</a></h3>
        </div>
        </div>
                  
                  
         <div class="services-block-two">
    <div class="inner-box">
<div class="nearby_img">
      <img src="{% static 'images/Nearby-Courts.jpeg' %}" alt="Find Nearby Judicial Courts">
        </div>
<h3 class="nearby_head"><a href="DDDDDD">Nearby Judicial Courts</a>
<a href="DDDDDD" class="simple_menu_stle" title="Find Nearby Judicial Courts"><i class="fa fa-crosshairs" aria-hidden="true"></i> Find Nearby</a></h3>
        </div>
        </div>
                  
                  
         <div class="services-block-two">
    <div class="inner-box">
      <div class="nearby_img">
      <img src="{% static 'images/Nearby-CSC-Centers.jpeg' %}" alt="Find Nearby CSC Centers">
        </div>
<h3 class="nearby_head"><a href="DDDDDD">Nearby CSC Centers</a>
<a href="DDDDDD" class="simple_menu_stle" title="Find Nearby CSC Centers"><i class="fa fa-crosshairs" aria-hidden="true"></i> Find Nearby</a></h3>
        </div>
        </div>
                  
                  
          <div class="services-block-two">
    <div class="inner-box">
    <div class="nearby_img">
      <img src="{% static 'images/Nearby-Bank-and-ifsc.jpeg' %}" alt="Find Nearby Police Station">
        </div>
<h3 class="nearby_head"><a href="DDDDDD">Nearby Bank &amp; IFSC</a>
<a href="DDDDDD" class="simple_menu_stle" title="Find Nearby Police Station"><i class="fa fa-crosshairs" aria-hidden="true"></i> Find Nearby</a></h3>
        </div>
        </div>
                  
                  
                  
         
      </div>
    </div>
    
    <a href="#" class="primary_button" style="margin: 0 auto;">FIND MORE</a>
        </div>
  </div>
  
</section>