<footer>
    <div class="container">
    
<div class="row" style="padding-bottom:40px;">

<div class="col col-md-3 col-12">
<button class="accordion">Company Name 01</button>
<ul class="panel list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>


</ul>

<button class="accordion">Company Name 02</button>
<ul class="panel list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>


</ul>

<button class="accordion">Company Name 03</button>
<ul class="panel list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>


</ul>
</div>





<div class="col col-md-3 col-12">
<button class="accordion">Company Name 04</button>
<ul class="panel list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>


</ul>

<button class="accordion">Company Name 05</button>
<ul class="panel list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>


</ul>

<button class="accordion">Company Name 06</button>
<ul class="panel list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>


</ul>
</div>




<div class="col col-md-3 col-12">
<button class="accordion">Company Name 07</button>
<ul class="panel list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>


</ul>

<button class="accordion">Company Name 08</button>
<ul class="panel list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>


</ul>

<button class="accordion">Company Name 09</button>
<ul class="panel list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>


</ul>
</div>




<div class="col col-md-3 col-12">
<button class="accordion">Company Name 10</button>
<ul class="panel list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>


</ul>

<button class="accordion">Company Name 11</button>
<ul class="panel list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>


</ul>

<button class="accordion">Company Name 12</button>
<ul class="panel list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>
        <li itemprop="name"><a itemprop="url" href="#">ISO Certification Registration</a></li>

</ul>
</div>
 

</div>


<div class="row">
  <h1 class="foot_head" onclick="toggleAccordion(this)"><a href="#"><i class="fa fa-crosshairs" aria-hidden="true"></i></a> Common Service Centre - CSC in Nearby Locations</h1>
  <div class="footer_directory">
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
  </div>
</div>

<div class="row">
  <h1 class="foot_head" onclick="toggleAccordion(this)"><a href="#"><i class="fa fa-crosshairs" aria-hidden="true"></i></a> Post Office & Pincode in Nearby Locations</h1>
  <div class="footer_directory">
    <a class="anchor" href="#">Hospitals in Perintalmanna</a>
    <a class="anchor" href="#">Hospitals in Perintalmanna</a>
    <a class="anchor" href="#">Hospitals in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
  </div>
</div>

<div class="row">
 <h1 class="foot_head" onclick="toggleAccordion(this)"><a href="#"><i class="fa fa-crosshairs" aria-hidden="true"></i></a> Police Stations in Nearby Locations</h1>
  <div class="footer_directory">
    <a class="anchor" href="#">Schools in Perintalmanna</a>
    <a class="anchor" href="#">Schools in Perintalmanna</a>
    <a class="anchor" href="#">Schools in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
  </div>
</div>

<div class="row">
 <h1 class="foot_head" onclick="toggleAccordion(this)"><a href="#"><i class="fa fa-crosshairs" aria-hidden="true"></i></a> Judicial Courts in Nearby Locations</h1>
  <div class="footer_directory">
    <a class="anchor" href="#">Schools in Perintalmanna</a>
    <a class="anchor" href="#">Schools in Perintalmanna</a>
    <a class="anchor" href="#">Schools in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
  </div>
</div>


<div class="row">
 <h1 class="foot_head" onclick="toggleAccordion(this)"><a href="#"><i class="fa fa-crosshairs" aria-hidden="true"></i></a> Bank and IFSC in Nearby Locations</h1>
  <div class="footer_directory">
    <a class="anchor" href="#">Schools in Perintalmanna</a>
    <a class="anchor" href="#">Schools in Perintalmanna</a>
    <a class="anchor" href="#">Schools in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
  </div>
</div>


<div class="row">
 <h1 class="foot_head" onclick="toggleAccordion(this)"><a href="#"><i class="fa fa-crosshairs" aria-hidden="true"></i></a> Destinations in Nearby Locations</h1>
  <div class="footer_directory">
    <a class="anchor" href="#">Schools in Perintalmanna</a>
    <a class="anchor" href="#">Schools in Perintalmanna</a>
    <a class="anchor" href="#">Schools in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
        <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
    <a class="anchor" href="#">Police Stations in Perintalmanna</a>
  </div>
</div>


<div class="row">
 <h1 class="foot_head" onclick="toggleAccordion(this)"><a href="#"><i class="fa fa-crosshairs" aria-hidden="true"></i></a> Popular Cities in India</h1>
  <div class="footer_directory">
<a class="anchor" href="#">Mumbai</a>
<a class="anchor" href="#">Bengaluru</a>
<a class="anchor" href="#">Hyderabad</a>
<a class="anchor" href="#">Kolkata</a>
<a class="anchor" href="#">Chennai</a>
<a class="anchor" href="#">Pune</a>
<a class="anchor" href="#">Ahmedabad</a>
<a class="anchor" href="#">Surat</a>
<a class="anchor" href="#">Jaipur</a>
<a class="anchor" href="#">Lucknow</a>
<a class="anchor" href="#">Kanpur</a>
<a class="anchor" href="#">Indore</a>
<a class="anchor" href="#">Patna</a>
<a class="anchor" href="#">Nagpur</a>
<a class="anchor" href="#">Visakhapatnam</a>
<a class="anchor" href="#">Meerut</a>
<a class="anchor" href="#">Bhopal</a>
<a class="anchor" href="#">Varanasi</a>
<a class="anchor" href="#">Agra</a>
<a class="anchor" href="#">Nashik</a>
<a class="anchor" href="#">Vijayawada</a>
<a class="anchor" href="#">Guwahati</a>
<a class="anchor" href="#">Rajkot</a>
<a class="anchor" href="#">Warangal</a>
<a class="anchor" href="#">Coimbatore</a>
<a class="anchor" href="#">Thiruvananthapuram</a>
<a class="anchor" href="#">Faridabad</a>
<a class="anchor" href="#">Ghaziabad</a>
<a class="anchor" href="#">Chandigarh</a>
<a class="anchor" href="#">Ludhiana</a>
<a class="anchor" href="#">Vadodara</a>
<a class="anchor" href="#">Raipur</a>
<a class="anchor" href="#">Jodhpur</a>
<a class="anchor" href="#">Mangalore</a>
<a class="anchor" href="#">Gwalior</a>
<a class="anchor" href="#">Tiruchirappalli</a>
<a class="anchor" href="#">Jamshedpur</a>
<a class="anchor" href="#">Ranchi</a>
<a class="anchor" href="#">Prayagraj</a>
<a class="anchor" href="#">Jalandhar</a>
<a class="anchor" href="#">Jabalpur</a>
<a class="anchor" href="#">Chhatrapati Sambhaji Nagar</a>
<a class="anchor" href="#">Bhubaneswar</a>
<a class="anchor" href="#">Asansol</a>
<a class="anchor" href="#">Mumbai</a>
<a class="anchor" href="#">Gurugram</a>
<a class="anchor" href="#">Mysuru</a>
<a class="anchor" href="#">Noida</a>
<a class="anchor" href="#">Kochi</a>
<a class="anchor" href="#">Amritsar</a>
<a class="anchor" href="#">Saharanpur</a>
  </div>
</div>



 
      <div class="row" style="padding-top: 30px;">
     
        <div class="col-md-12">
          <ul class="social-icons" style="width:100%;" itemscope itemtype="https://schema.org/Organization">
  <link itemprop="url" href="https://bzindia.in/">
  <li><a rel="noopener" itemprop="sameAs" href="https://www.facebook.com/BZindia/" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  <li><a rel="noopener" itemprop="sameAs" href="https://twitter.com/Bzindia_in" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  <li><a rel="noopener" itemprop="sameAs" href="https://www.instagram.com/bzindia/" title="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  <li><a rel="noopener" itemprop="sameAs" href="https://www.linkedin.com/company/bzindia" title="LinkedIn" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  <li><a rel="noopener" itemprop="sameAs" href="https://www.youtube.com/channel/UCObPeK-T-jvgyfed9ysaSdQ?sub_confirmation=1" title="YouTube" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
  <li><a rel="noopener" itemprop="sameAs" href="https://in.pinterest.com/bzindia/" title="Pinterest" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
  <li><a rel="noopener" itemprop="sameAs" href="https://bzindia.tumblr.com/" title="Tumblr" target="_blank"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
  <li><a rel="noopener" itemprop="sameAs" href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
  <li><a rel="noopener" itemprop="sameAs" href="https://www.slideshare.net/BZindia" title="SlideShare" target="_blank"><i class="fa fa-slideshare" aria-hidden="true"></i></a></li>
  <li><a rel="noopener" itemprop="sameAs" href="https://www.reddit.com/user/bzindia-in/" title="Reddit" target="_blank"><i class="fa fa-reddit" aria-hidden="true"></i></a></li>	 
  <li><a rel="noopener" itemprop="sameAs" href="https://www.flickr.com/photos/193921536@N03/" title="Flickr" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
  <li><a rel="noopener" itemprop="sameAs" href="https://www.quora.com/profile/BZindia" title="Quora" target="_blank"><i class="fa fa-quora" aria-hidden="true"></i></a></li>
</ul>
        </div>
        <div class="col-md-12">
          <div class="privecy-plcy-bx">
            <div class="privecy-plcy-bx-cntnt">
              <span class="ftr-spn-privcy"><a href="#">Privacy Policy</a> <span class="ftr-spn-privcy-divid-br">|</span><a href="#">Terms &
                Conditions</a><span class="ftr-spn-privcy-divid-br">|</span><a href="#">Shipping & Delivery Policy</a><span
                  class="ftr-spn-privcy-divid-br">|</span><a href="#">Cancellation & Refund Policy</a></span>
            </div>
          </div>
        </div>
        


        
        <div class="col-md-12 foot_area_cnt">
          <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod gravida blandit. Vestibulum aliquam lobortis justo, eu tristique nunc ultrices sit amet. Fusce auctor pretium augue, id pellentesque augue congue ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras id leo consequat, scelerisque nisi sit amet, euismod augue. Proin ut metus velit. Pellentesque vehicula sem quis aliquet placerat. Aliquam ullamcorper sagittis ante at gravida.
   
   </p>
   
          <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod gravida blandit. Vestibulum aliquam lobortis justo, eu tristique nunc ultrices sit amet. Fusce auctor pretium augue, id pellentesque augue congue ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras id leo consequat, scelerisque nisi sit amet, euismod augue. Proin ut metus velit. Pellentesque vehicula sem quis aliquet placerat. Aliquam ullamcorper sagittis ante at gravida.
   
   </p>
   
   
          <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod gravida blandit. Vestibulum aliquam lobortis justo, eu tristique nunc ultrices sit amet. Fusce auctor pretium augue, id pellentesque augue congue ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras id leo consequat, scelerisque nisi sit amet, euismod augue. Proin ut metus velit. Pellentesque vehicula sem quis aliquet placerat. Aliquam ullamcorper sagittis ante at gravida.
   
   </p>
   
   
          <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod gravida blandit. Vestibulum aliquam lobortis justo, eu tristique nunc ultrices sit amet. Fusce auctor pretium augue, id pellentesque augue congue ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras id leo consequat, scelerisque nisi sit amet, euismod augue. Proin ut metus velit. Pellentesque vehicula sem quis aliquet placerat. Aliquam ullamcorper sagittis ante at gravida.
   
   </p>
             </div>
        
        
        <div class="col-md-12">
          <div class="copy-right-bx">
            <div class="copy-right-bx-cntnt">
              <span class="ftr-spn-cpy-1">&copy; <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script> BZIndia - Top Companies in India</span>
            </div>
          </div>
        </div>
      </div>
    </div>

     
  </footer>