{% extends "base/base.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}
  <!--banner-slider start -->

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
  
    <div class="carousel-inner">
      <div class="carousel-item active" style="background: url(images/inner-pge-slider1.jpg);">
        <div class="overlayy">
          <div class="banner-slider-cntnt">
            <div>
              <h3>Company Business Legal Registration in India</h3>
              <p>Every slide includes a background, which can be a picture or solid color.</p>
              <a href="#" class="primary_button" style="visibility: visible; " tabindex="-1">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background: url(images/inner-pge-slider2.jpg);">
        <div class="overlayy">
          <div class="banner-slider-cntnt">
            <div>
              <h3>Company Business Legal Registration in India</h3>
              <p>Every slide includes a background, which can be a picture or solid color.</p>
              <a href="#" class="primary_button" style="visibility: visible; " tabindex="-1">Read More</a>
            </div>

          </div>
        </div>
      </div>
      <div class="carousel-item" style="background: url(images/BZindia-hm-banner.jpg);">
        <div class="overlayy">
          <div class="banner-slider-cntnt">
            <div>
              <h3>Company Business Legal Registration in India</h3>
              <p>Every slide includes a background, which can be a picture or solid color.</p>
              <a href="#" class="primary_button" style="visibility: visible; " tabindex="-1">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
  </div>

  <!--banner-slider end -->



<div id="stick_navbar" style="padding: 0px 0;">
<div class="communicate_language"><p> <span style="color: #ff0; text-transform:uppercase;">Support Languages:</span> English <span style="color: #f00;">|</span> ಕನ್ನಡ <span style="color: #f00;">|</span> हिंदी <span style="color: #f00;">|</span> தமிழ் <span style="color: #f00;">|</span> മലയാളം <span style="color: #f00;">|</span> తెలుగు</p></div>

<a href="tel:+919845272560">
<script language="JavaScript">

var message="Helpline: 9845 272 560"
var neonbasecolor="white"
var neontextcolor="yellow"
var flashspeed=100 


var n=0
if (document.all||document.getElementById){
document.write('')
for (m=0;m<message.length;m++)
document.write('<span id="neonlight'+m+'">'+message.charAt(m)+'</span>')
document.write('')
}
else
document.write(message)

function crossref(number){
var crossobj=document.all? eval("document.all.neonlight"+number) : document.getElementById("neonlight"+number)
return crossobj
}

function neon(){

if (n==0){
for (m=0;m<message.length;m++)
crossref(m).style.color=neonbasecolor
}

crossref(n).style.color=neontextcolor

if (n<message.length-1)
n++
else{
n=0
clearInterval(flashing)
setTimeout("beginneon()",1500)
return
}
}

function beginneon(){
if (document.all||document.getElementById)
flashing=setInterval("neon()",flashspeed)
}
beginneon()
</script>
</a> 
<div style="clear:both;"></div>


<toc class="bzindia_toc_scroll">
<a href="#Documents-for-GST-Registration">Documents for GST Registration</a>
<a href="#Who-Needs-GST">Who Needs GST</a>
<a href="#Highlights-of-GST">Highlights of GST</a>
<a href="#Types-of-GST">Types of GST</a>
<a href="#Benefits-of-GST">Benefits of GST</a>
<a href="#Key-Features-of-GST">Key Features of GST</a>
<a href="#GST-Registration-Process">GST Registration Process</a>
<a href="#GST-Registration-Faqs">GST Registration Faq's</a>
</toc>

  


</div>
 

<!-- home -banner section-end -->


<section class="inner_home_content_sec" style="padding: 60px 0 0px 0;">
  <div class="container">
      <h2>ONLINE SHOPPING </h2>
      <span class="line"></span>
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12" data-aos="fade-in">
            <div id="horizontalTab">
              <ul class="resp-tabs-list">
              <li>Product Category 01</li>
              <li>Product Category 02</li>
              <li>Product Category 03</li>
              </ul>
              <div class="resp-tabs-container">
              <div>
              <div class="row">    
              <h3>Product Category 01</h3>
              <div class="col-md-3">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img class="pic-1" src="images/img-3.jpg">
                              <img class="pic-2" src="images/img-4.jpg">
                          </a>
                           <span class="product-sale-label">sale!</span>
                          <ul class="social">
                              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                          </ul>
                          <div class="product-rating">
                        <ul class="client_review">
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star" aria-hidden="true"></span>
                              <span class="fa fa-star" aria-hidden="true"></span>
                             
                        </ul>
                              
                              <a class="add-to-cart" href="#"> ADD TO CART </a>
                          </div>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Men's Shirt</a></h3>
                          <div class="price"><span>$28.00</span>$20.00</div>
                      </div>
                  </div>
              </div>


              <div class="col-md-3">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img class="pic-1" src="images/img-3.jpg">
                              <img class="pic-2" src="images/img-4.jpg">
                          </a>
                           <span class="product-sold-label">Sold!</span>
                          <ul class="social">
                              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                          </ul>
                          <div class="product-rating">
                            <ul class="client_review">
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star" aria-hidden="true"></span>
                              <span class="fa fa-star" aria-hidden="true"></span>
                             
                        </ul>
                              <a class="add-to-cart" href="#"> ADD TO CART </a>
                          </div>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Men's Shirt</a></h3>
                          <div class="price"><span>$28.00</span>$20.00</div>
                      </div>
                  </div>
              </div>


              <div class="col-md-3">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img class="pic-1" src="images/img-3.jpg">
                              <img class="pic-2" src="images/img-4.jpg">
                          </a>
                           <span class="product-sale-label">sale!</span>
                          <ul class="social">
                              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                          </ul>
                          <div class="product-rating">
                            <ul class="client_review">
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star" aria-hidden="true"></span>
                              <span class="fa fa-star" aria-hidden="true"></span>
                             
                        </ul>
                              <a class="add-to-cart" href="#"> ADD TO CART </a>
                          </div>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Men's Shirt</a></h3>
                          <div class="price"><span>$28.00</span>$20.00</div>
                      </div>
                  </div>
              </div>


              <div class="col-md-3">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img class="pic-1" src="images/img-3.jpg">
                              <img class="pic-2" src="images/img-4.jpg">
                          </a>
                           <span class="product-sale-label">sale!</span>
                          <ul class="social">
                              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                          </ul>
                          <div class="product-rating">
                            <ul class="client_review">
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star" aria-hidden="true"></span>
                              <span class="fa fa-star" aria-hidden="true"></span>
                             
                        </ul>
                              <a class="add-to-cart" href="#"> ADD TO CART </a>
                          </div>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Men's Shirt</a></h3>
                          <div class="price"><span>$28.00</span>$20.00</div>
                      </div>
                  </div>
              </div> 



              <div class="col-md-3">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img class="pic-1" src="images/img-3.jpg">
                              <img class="pic-2" src="images/img-4.jpg">
                          </a>
                           <span class="product-sale-label">sale!</span>
                          <ul class="social">
                              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                          </ul>
                          <div class="product-rating">
                            <ul class="client_review">
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star checked" aria-hidden="true"></span>
                              <span class="fa fa-star" aria-hidden="true"></span>
                              <span class="fa fa-star" aria-hidden="true"></span>
                             
                        </ul>
                              <a class="add-to-cart" href="#"> ADD TO CART </a>
                          </div>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Men's Shirt</a></h3>
                          <div class="price"><span>$28.00</span>$20.00</div>
                          
                      </div>
                  </div>
              </div> 
          
          
          
          </div>
            
            </div>
              <div>
              <p>This tab has icon in consectetur adipiscing eliconse consectetur adipiscing elit. Vestibulum nibh urna, ctetur adipiscing elit. Vestibulum nibh urna, t.consectetur adipiscing elit. Vestibulum nibh urna,  Vestibulum nibh urna,it.</p>
              </div>
              <div>
              <p>Suspendisse blandit velit Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravid urna gravid eget erat suscipit in malesuada odio venenatis.</p>
              </div>
              </div>
              </div>
          </div></div>



<div class="row" style="padding: 40px 0 0px 0;">
  <div class="offerd-service-section" data-aos="fade-up">
      <h2>TOP PRODUCTS</h2>
      <span class="line"></span>
      <div class="offerd-service">
      
<div style="padding: 5px;">
  <div class="product-grid">
      <div class="product-image">
          <a href="#" class="image">
              <img class="pic-1" src="images/img-3.jpg">
              <img class="pic-2" src="images/img-4.jpg">
          </a>
          <span class="product-sale-label">sale!</span>
          <ul class="social">
              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
          </ul>
          <div class="product-rating">
            <ul class="client_review">
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star" aria-hidden="true"></span>
              <span class="fa fa-star" aria-hidden="true"></span>
             
        </ul>
              <a class="add-to-cart" href="#"> ADD TO CART </a>
          </div>
      </div>
      <div class="product-content">
          <h3 class="title"><a href="#">Women's Tshirt</a></h3>
          <div class="price">$19.00</div>
      </div>
  </div>
</div>


<div style="padding: 5px;">
  <div class="product-grid">
      <div class="product-image">
          <a href="#" class="image">
              <img class="pic-1" src="images/img-3.jpg">
              <img class="pic-2" src="images/img-4.jpg">
          </a>
          <span class="product-sale-label">sale!</span>
          <ul class="social">
              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
          </ul>
          <div class="product-rating">
            <ul class="client_review">
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star" aria-hidden="true"></span>
              <span class="fa fa-star" aria-hidden="true"></span>
             
        </ul>
              <a class="add-to-cart" href="#"> ADD TO CART </a>
          </div>
      </div>
      <div class="product-content">
          <h3 class="title"><a href="#">Women's Tshirt</a></h3>
          <div class="price">$19.00</div>
      </div>
  </div>
</div>



<div style="padding: 5px;">
  <div class="product-grid">
      <div class="product-image">
          <a href="#" class="image">
              <img class="pic-1" src="images/img-3.jpg">
              <img class="pic-2" src="images/img-4.jpg">
          </a>
          <span class="product-sold-label">Sold!</span>
          <ul class="social">
              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
          </ul>
          <div class="product-rating">
            <ul class="client_review">
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star" aria-hidden="true"></span>
              <span class="fa fa-star" aria-hidden="true"></span>
             
        </ul>
              <a class="add-to-cart" href="#"> ADD TO CART </a>
          </div>
      </div>
      <div class="product-content">
          <h3 class="title"><a href="#">Women's Tshirt</a></h3>
          <div class="price">$19.00</div>
      </div>
  </div>
</div>


<div style="padding: 5px;">
  <div class="product-grid">
      <div class="product-image">
          <a href="#" class="image">
              <img class="pic-1" src="images/img-3.jpg">
              <img class="pic-2" src="images/img-4.jpg">
          </a>
          <span class="product-sale-label">sale!</span>
          <ul class="social">
              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
          </ul>
          <div class="product-rating">
            <ul class="client_review">
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star" aria-hidden="true"></span>
              <span class="fa fa-star" aria-hidden="true"></span>
             
        </ul>
              <a class="add-to-cart" href="#"> ADD TO CART </a>
          </div>
      </div>
      <div class="product-content">
          <h3 class="title"><a href="#">Women's Tshirt</a></h3>
          <div class="price">$19.00</div>
      </div>
  </div>
</div>



<div style="padding: 5px;">
  <div class="product-grid">
      <div class="product-image">
          <a href="#" class="image">
              <img class="pic-1" src="images/img-3.jpg">
              <img class="pic-2" src="images/img-4.jpg">
          </a>
          <span class="product-sale-label">sale!</span>
          <ul class="social">
              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
          </ul>
          <div class="product-rating">
            <ul class="client_review">
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star" aria-hidden="true"></span>
              <span class="fa fa-star" aria-hidden="true"></span>
             
        </ul>
              <a class="add-to-cart" href="#"> ADD TO CART </a>
          </div>
      </div>
      <div class="product-content">
          <h3 class="title"><a href="#">Women's Tshirt</a></h3>
          <div class="price">$19.00</div>
      </div>
  </div>
</div>


<div style="padding: 5px;">
  <div class="product-grid">
      <div class="product-image">
          <a href="#" class="image">
              <img class="pic-1" src="images/img-3.jpg">
              <img class="pic-2" src="images/img-4.jpg">
          </a>
          <span class="product-sale-label">sale!</span>
          <ul class="social">
              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
          </ul>
          <div class="product-rating">
            <ul class="client_review">
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star checked" aria-hidden="true"></span>
              <span class="fa fa-star" aria-hidden="true"></span>
              <span class="fa fa-star" aria-hidden="true"></span>
             
        </ul>
              <a class="add-to-cart" href="#"> ADD TO CART </a>
          </div>
      </div>
      <div class="product-content">
          <h3 class="title"><a href="#">Women's Tshirt</a></h3>
          <div class="price">$19.00</div>
      </div>
  </div>
</div>

</div>
    </div>
</div>            

  </div>

  
</section>



<!-- registraton faq setion stat -->

<section>
  <div class="container-fluid">

    <div class="registration-faq-section"  data-aos="fade-up" style="padding: 0;">
      <!-- <div class="registrtn-fq-bg-img">
      <img src="images/wht-we-do-bg.png" alt="">
    </div> -->
      <div class="row">
        <div class="col-md-8">

          <div class="regstrtn-faq-space">

            <div class="registrsn-fq-scrool-bar-clm">
              <h3>REGISTRATION FAQ'S</h3>
              <span class="line"></span>
              <div class="registrsn-fq-scrool-bar-clm-cntnt">
                <div class=" pre-scrollable" style="height: 452px;overflow-y: auto;">
                  
<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">

<div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question" class="marg_btm_8">
  <h6 itemprop="name" class="faqs_accordion">What is the benefit of a Trademark Renewal?</h6>
  <div class="faqs_panel" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
    <p itemprop="text">content</p>
  </div>
</div>

  <div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question" class="marg_btm_8">
  <h6 itemprop="name" class="faqs_accordion">What is the benefit of a Trademark Renewal?</h6>
  <div class="faqs_panel" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
    <p itemprop="text">content</p>
  </div>
</div>


  <div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question" class="marg_btm_8">
  <h6 itemprop="name" class="faqs_accordion">What is the benefit of a Trademark Renewal?</h6>
  <div class="faqs_panel" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
    <p itemprop="text">content</p>
  </div>
</div>


  <div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question" class="marg_btm_8">
  <h6 itemprop="name" class="faqs_accordion">What is the benefit of a Trademark Renewal?</h6>
  <div class="faqs_panel" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
    <p itemprop="text">content</p>
  </div>
</div>


  <div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question" class="marg_btm_8">
  <h6 itemprop="name" class="faqs_accordion">What is the benefit of a Trademark Renewal?</h6>
  <div class="faqs_panel" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
    <p itemprop="text">content</p>
  </div>
</div>


</div>
                  
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-4 ">

          <div class="regstrtn-faq-space"  data-aos="fade-up">

            <div class="faq-form-section">
              <h2>ONLINE REGISTRATION IN INDIA</h2>
              <span class="line"></span>
              <form action="" method="post">
                 <input type="text" id="name" name="name" placeholder="Your Name:"><br>
                 <input type="tel" id="tel" name="number" placeholder="Phone Number:"><br>
                 <input type="email" id="email" name="email" placeholder="E-Mail Address:"><br>
           <select class="country" id="country" name="country">
                    <option value="0" selected disabled hidden>-- Select Services --</option>
                  <option value="usa">ISO registration</option>
                  <option value="canada">ISO registration</option>
                  <option value="uk">ISO registration</option>
                  <option value="australia">ISO registration</option>

                 </select><br>
                <select class="country" id="state" name="state">
                    <option value="0" selected disabled hidden>-- Select State --</option>
                  <option value="Kerala">Kerala</option>
                 
                  <!-- Add more options as needed -->
                </select><br>

                 <textarea id="message" name="message" rows="4" placeholder="Requirements:" cols="50"></textarea><br>
                <div class="frm-btn-sctn">
                  <div>
                    <button class="primary_button" role="button" type="submit">SUBMIT</button>
                  </div>
                </div>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</section>

<!-- registraton faq setion end -->



<!-- registration-services-section start -->

<section style="padding: 60px 0; text-align: center;">

  <div class="container">
<div class="row" style="padding-bottom: 20px;">
  <div class="row">
      <div class="col-md-12" data-aos="fade-in">
        <h1>Registration Consultants in India - LegalGuides Associates</h1>
        <span class="line"></span>
        <p>Company Registration: Who we are as a Legal Guides Associates and what we are about to you and why we are here for you? At somehow we all have a turning point in our career or personal life, which makes us motivated to take challenges to start a business.

          We all have dreams and goals. We the Legal guides Associate’s are here to make your dreams come true in reality by guiding you all the way from start to finish, Advising and conducting legal research for your trademark, provides Lawyers and legal consultants, Government legal consultants and licensing, Startup business Registrations, Society Registrations, Trust Registrations, Company Secretaries, Privacy, Chattered Accountants, tax consultants, advocate for users and clients, and support freedom-enhancing technologies. Preparing and Reviewing legal documents ahead of a court hearing, Developing litigation strategies, Gathering evidence, Updating and consulting with Registers, Supervising paralegals or legal assistants from time to time. Ability to work under pressure.
          
          </p>
      </div>
    </div>

</div>



<h3>Tags Cloud</h3>
<span class="line"></span>
<div class="row" data-aos="fade-in">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="tags_cloud">
<a href="https://admissionbangalore.co.in/tag/alliance/" title="Alliance">Alliance</a>
    <a href="https://admissionbangalore.co.in/tag/alliance-college/" title="Alliance College">Alliance College</a>
    <a href="https://admissionbangalore.co.in/tag/alliance-college-of-liberal-arts/" title="Alliance College of Liberal Arts">Alliance College of Liberal Arts</a>
    <a href="https://admissionbangalore.co.in/tag/alliance-school-of-business/" title="Alliance School of Business">Alliance School of Business</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-science-colleges-in-bangalore/" title="Allied Health &amp; Science Colleges in Bangalore">Allied Health &amp; Science Colleges in Bangalore</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-science-colleges-in-karnataka/" title="Allied Health &amp; Science Colleges in Karnataka">Allied Health &amp; Science Colleges in Karnataka</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-and-sciences/" title="Allied Health And Sciences">Allied Health And Sciences</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-and-sciences-bangalore/" title="Allied Health And Sciences Bangalore">Allied Health And Sciences Bangalore</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-and-sciences-colleges-in-bangalore/" title="Allied Health And Sciences Colleges in Bangalore">Allied Health And Sciences Colleges in Bangalore</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-and-sciences-colleges-in-karnataka/" title="Allied Health And Sciences Colleges in Karnataka">Allied Health And Sciences Colleges in Karnataka</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-and-sciences-karnataka/" title="Allied Health And Sciences Karnataka">Allied Health And Sciences Karnataka</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-science/" title="Allied Health Science">Allied Health Science</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-sciences/" title="Allied Health Sciences">Allied Health Sciences</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-sciences-colleges/" title="Allied Health Sciences Colleges">Allied Health Sciences Colleges</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-sciences-colleges-in-bangalore/" title="Allied Health Sciences Colleges in Bangalore">Allied Health Sciences Colleges in Bangalore</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-sciences-colleges-in-india/" title="Allied Health Sciences Colleges in India">Allied Health Sciences Colleges in India</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-sciences-colleges-in-karnataka/" title="Allied Health Sciences Colleges in Karnataka">Allied Health Sciences Colleges in Karnataka</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-sciences-colleges-in-mangalore/" title="Allied Health Sciences Colleges in Mangalore">Allied Health Sciences Colleges in Mangalore</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-sciences-colleges-in-mysore/" title="Allied Health Sciences Colleges in Mysore">Allied Health Sciences Colleges in Mysore</a>
    <a href="https://admissionbangalore.co.in/tag/allied-health-sciences-colleges-karnataka/" title="Allied Health Sciences Colleges Karnataka">Allied Health Sciences Colleges Karnataka</a>

</div>
</div>
</div>

  </div>
</section>

<!-- registration-services-section end -->

<!-- client-testimonial section start -->

<section>
  <div class="client-testimonial-section">
    <div class="container">
      <h2>CLIENT TESTIMONIALS</h2>
      <span class="line"></span>
      <div class="client-testimonial-slider" data-aos="fade-up">
        <div class="client-testimonial-slider-padd">
          <div class="client-testimonal-box">
            <div class="testmnl-clin-img-bg">
              <div class="testmnl-clin-img-bx">
                <img src="images/model-2911332_640 1.jpg" alt="">
              </div>
            </div>
            <div class="testmnl-clin-review-bx">
              <div class="testmnl-clin-review">
                <span>
                  <i class="fa-solid fa-quote-left"></i>
                  <span class="clnt-tesmnl-cmnt">Company Registration: Who we are as a Legal Guides Associates and
                    what we are about to you and why we are here for you? At somehow</span>
                  <i class="fa-solid fa-quote-right"></i>
                </span>
              </div>
              <div class="client-name">
                <span>Muhammed Safvan</span>
              </div>
              <div class="client-cmpny-dtls">
                <span class="clnt-cmpny-name"> W3 Agency</span>
                <span class="clnt-cmpny-location">Perinthalmanna</span>
              </div>
              <div class="client_review">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</div>
            </div>
          </div>
        </div>
        <div class="client-testimonial-slider-padd">
          <div class="client-testimonal-box">
            <div class="testmnl-clin-img-bg">
              <div class="testmnl-clin-img-bx">
                <img src="images/model-2911332_640 1.jpg" alt="">
              </div>
            </div>
            <div class="testmnl-clin-review-bx">
              <div class="testmnl-clin-review">
                <span>
                  <i class="fa-solid fa-quote-left"></i>
                  <span class="clnt-tesmnl-cmnt">Company Registration: Who we are as a Legal Guides Associates and
                    what we are about to you and why we are here for you? At somehow</span>
                  <i class="fa-solid fa-quote-right"></i>
                </span>
              </div>
              <div class="client-name">
                <span>Muhammed Safvan</span>
              </div>
              <div class="client-cmpny-dtls">
                <span class="clnt-cmpny-name"> W3 Agency</span>
                <span class="clnt-cmpny-location">Perinthalmanna</span>
                
              </div>
              
<div class="client_review">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</div>
              
            </div>
          </div>
        </div>
        <div class="client-testimonial-slider-padd">
          <div class="client-testimonal-box">
            <div class="testmnl-clin-img-bg">
              <div class="testmnl-clin-img-bx">
                <img src="images/model-2911332_640 1.jpg" alt="">
              </div>
            </div>
            <div class="testmnl-clin-review-bx">
              <div class="testmnl-clin-review">
                <span>
                  <i class="fa-solid fa-quote-left"></i>
                  <span class="clnt-tesmnl-cmnt">Company Registration: Who we are as a Legal Guides Associates and
                    what we are about to you and why we are here for you? At somehow</span>
                  <i class="fa-solid fa-quote-right"></i>
                </span>
              </div>
              <div class="client-name">
                <span>Muhammed Safvan</span>
              </div>
              <div class="client-cmpny-dtls">
                <span class="clnt-cmpny-name"> W3 Agency</span>
                <span class="clnt-cmpny-location">Perinthalmanna</span>
              </div>
<div class="client_review">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</div>                
            </div>
          </div>
        </div>
        <div class="client-testimonial-slider-padd">
          <div class="client-testimonal-box">
            <div class="testmnl-clin-img-bg">
              <div class="testmnl-clin-img-bx">
                <img src="images/model-2911332_640 1.jpg" alt="">
              </div>
            </div>
            <div class="testmnl-clin-review-bx">
              <div class="testmnl-clin-review">
                <span>
                  <i class="fa-solid fa-quote-left"></i>
                  <span class="clnt-tesmnl-cmnt">Company Registration: Who we are as a Legal Guides Associates and
                    what we are about to you and why we are here for you? At somehow</span>
                  <i class="fa-solid fa-quote-right"></i>
                </span>
              </div>
              <div class="client-name">
                <span>Muhammed Safvan</span>
              </div>
              <div class="client-cmpny-dtls">
                <span class="clnt-cmpny-name"> W3 Agency</span>
                <span class="clnt-cmpny-location">Perinthalmanna</span>
              </div>
<div class="client_review">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</div>
            </div>
          </div>
        </div>
        <div class="client-testimonial-slider-padd">
          <div class="client-testimonal-box">
            <div class="testmnl-clin-img-bg">
              <div class="testmnl-clin-img-bx">
                <img src="images/model-2911332_640 1.jpg" alt="">
              </div>
            </div>
            <div class="testmnl-clin-review-bx">
              <div class="testmnl-clin-review">
                <span>
                  <i class="fa-solid fa-quote-left"></i>
                  <span class="clnt-tesmnl-cmnt">Company Registration: Who we are as a Legal Guides Associates and
                    what we are about to you and why we are here for you? At somehow</span>
                  <i class="fa-solid fa-quote-right"></i>
                </span>
              </div>
              <div class="client-name">
                <span>Muhammed Safvan</span>
              </div>
              <div class="client-cmpny-dtls">
                <span class="clnt-cmpny-name"> W3 Agency</span>
                <span class="clnt-cmpny-location">Perinthalmanna</span>
              </div>
<div class="client_review">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</div>
              
            </div>
          </div>
        </div>
        <div class="client-testimonial-slider-padd">
          <div class="client-testimonal-box">
            <div class="testmnl-clin-img-bg">
              <div class="testmnl-clin-img-bx">
                <img src="images/model-2911332_640 1.jpg" alt="">
              </div>
            </div>
            <div class="testmnl-clin-review-bx">
              <div class="testmnl-clin-review">
                <span>
                  <i class="fa-solid fa-quote-left"></i>
                  <span class="clnt-tesmnl-cmnt">Company Registration: Who we are as a Legal Guides Associates and
                    what we are about to you and why we are here for you? At somehow</span>
                  <i class="fa-solid fa-quote-right"></i>
                </span>
              </div>
              <div class="client-name">
                <span>Muhammed Safvan</span>
              </div>
              <div class="client-cmpny-dtls">
                <span class="clnt-cmpny-name"> W3 Agency</span>
                <span class="clnt-cmpny-location">Perinthalmanna</span>
              </div>
<div class="client_review">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</div>
              
            </div>
          </div>
        </div>
        <div class="client-testimonial-slider-padd">
          <div class="client-testimonal-box">
            <div class="testmnl-clin-img-bg">
              <div class="testmnl-clin-img-bx">
                <img src="images/model-2911332_640 1.jpg" alt="">
              </div>
            </div>
            <div class="testmnl-clin-review-bx">
              <div class="testmnl-clin-review">
                <i class="fa-solid fa-quote-left"></i>
                <span class="clnt-tesmnl-cmnt">Company Registration: Who we are as a Legal Guides Associates and what
                  we are about to you and why we are here for you? At somehow</span>
                <i class="fa-solid fa-quote-right"></i>
              </div>
              <div class="client-name">
                <span>Muhammed Safvan</span>
              </div>
              <div class="client-cmpny-dtls">
                <span class="clnt-cmpny-name"> W3 Agency</span>
                <span class="clnt-cmpny-location">Perinthalmanna</span>
              </div>
<div class="client_review">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</div>
            </div>
          </div>
        </div>
        <div class="client-testimonial-slider-padd">
          <div class="client-testimonal-box">
            <div class="testmnl-clin-img-bg">
              <div class="testmnl-clin-img-bx">
                <img src="images/model-2911332_640 1.jpg" alt="">
              </div>
            </div>
            <div class="testmnl-clin-review-bx">
              <div class="testmnl-clin-review">
                <span>
                  <i class="fa-solid fa-quote-left"></i>
                  <span class="clnt-tesmnl-cmnt">Company Registration: Who we are as a Legal Guides Associates and
                    what we are about to you and why we are here for you? At somehow</span>
                  <i class="fa-solid fa-quote-right"></i>
                </span>
              </div>
              <div class="client-name">
                <span>Muhammed Safvan</span>
              </div>
              <div class="client-cmpny-dtls">
                <span class="clnt-cmpny-name"> W3 Agency</span>
                <span class="clnt-cmpny-location">Perinthalmanna</span>
              </div>
<div class="client_review">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="blog_section">

     <div class="container">
      <h2>LATEST ARTICLES</h2>
      <span class="line"></span>
      <div class="blog-slider" data-aos="fade-up">
      
        <article>
        <p class="date_cat_blog">
    <a href="#" style="left: 10px;">Registration</a>
    <a href="#" style="right: 80px; ">January 30, 2024</a>
        </p>
   <figure class="featured-media">
   <a href="#"><img src="images/food-887348_640.jpg" alt=""></a>
   </figure>
   
   <h4 class="blog_slider_article_h2"><a href="#">What is the difference between Copyright and Trademark Registration</a></h4>
   <p style="text-align:left;">What is the difference between Copyright and Trademark Registration</p>
   <a href="#" class="primary_button" style="visibility: visible; ">Read More</a>
        </article>
        
        
        <article>
        <p class="date_cat_blog">
    <a href="#" style="left: 10px;">Registration</a>
    <a href="#" style="right: 80px; ">January 30, 2024</a>
        </p>
   <figure class="featured-media">
   <a href="#"><img src="images/food-887348_640.jpg" alt=""></a>
   </figure>
   <h4 class="blog_slider_article_h2"><a href="#">What is the difference between Copyright and Trademark Registration</a></h4>
   <p style="text-align:left;">What is the difference between Copyright and Trademark Registration</p>
   <a href="#" class="primary_button" style="visibility: visible; ">Read More</a>
        </article>
        
        
        
        <article>
        <p class="date_cat_blog">
    <a href="#" style="left: 10px;">Registration</a>
    <a href="#" style="right: 80px; ">January 30, 2024</a>
        </p>
   <figure class="featured-media">
   <a href="#"><img src="images/food-887348_640.jpg" alt=""></a>
   </figure>
   <h4 class="blog_slider_article_h2"><a href="#">What is the difference between Copyright and Trademark Registration</a></h4>
   <p style="text-align:left;">What is the difference between Copyright and Trademark Registration</p>
   <a href="#" class="primary_button" style="visibility: visible; ">Read More</a>
        </article>
        
        
        
        <article>
        <p class="date_cat_blog">
    <a href="#" style="left: 10px;">Registration</a>
    <a href="#" style="right: 80px; ">January 30, 2024</a>
        </p>
   <figure class="featured-media">
   <a href="#"><img src="images/food-887348_640.jpg" alt=""></a>
   </figure>
   <h4 class="blog_slider_article_h2"><a href="#">What is the difference between Copyright and Trademark Registration</a></h4>
   <p style="text-align:left;">What is the difference between Copyright and Trademark Registration</p>
   <a href="#" class="primary_button" style="visibility: visible; ">Read More</a>
        </article>
      
      </div>
    </div>

</section>  

<!-- client-testimonial section end -->

<!-- footer-section start -->


<!--major clients-section start  -->

<section class="major-sectin">
  <div class="major-clients-sldr-bx mb-5">
    <h2>MAJOR CLIENTS </h2>
    <span class="line"></span>
    <!-- venture slider -->

    <div class="major-clients-slider" data-aos="fade-up">
      <div class="major-clients-slider_padd">
        <div>
          <a href="#">
            <img src="images/prime_pre-engineered_steel_buildings_india.webp" alt="">
          </a>
        </div>
      </div>
      <div class="major-clients-slider_padd">
        <div>
          <a href="#">
            <img src="images/brets_residential_spoken_english_institute_india.webp" alt="">
          </a>
        </div>
      </div>
      <div class="major-clients-slider_padd">
        <div>
          <a href="#">
            <img src="images/envy_us_marketing_id_card_accessories_wholesale_india.webp" alt="">
          </a>
        </div>
      </div>
      <div class="major-clients-slider_padd">
        <div>
          <a href="#">
            <img src="images/ipcs_automation_companies_india.webp" alt="">
          </a>
        </div>
      </div>
      <div class="major-clients-slider_padd">
        <div>
          <a href="#">
            <img src="images/legalguides_associates_consultants_india.webp" alt="">
          </a>
        </div>
      </div>
      <div class="major-clients-slider_padd">
        <div>
          <a href="#">
            <img src="images/Taste-india-Bakery-Products-Wholesale-Manufacturers-Exporting.webp" alt="">
          </a>
        </div>
      </div>
      <div class="major-clients-slider_padd">
        <div>
          <a href="#">
            <img src="images/brets_residential_spoken_english_institute_india.webp" alt="">
          </a>
        </div>
      </div>
      <div class="major-clients-slider_padd">
        <div>
          <a href="#">
            <img src="images/envy_us_marketing_id_card_accessories_wholesale_india.webp" alt="">
          </a>
        </div>
      </div>
      <div class="major-clients-slider_padd">
        <div>
          <a href="#">
            <img src="images/ipcs_automation_companies_india.webp" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--manjor clients-section end  -->
{% endblock content %}