
{% extends "admin_company/base/base.html" %}
{% load static %}

{% block title %}Add {{current_company.name}} Multi Page{% endblock title %}

{% block company_content %}  

	<!-- Content Starts -->
    <div class="row">
        <div class="col-lg-12">
            <form method="post" action="{% url 'superadmin:add_multipage' current_company.slug %}" class="needs-validation" enctype="multipart/form-data" id="add-multipage-form">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0" >Add Multi Page</h4>
                    </div>
                    <div class="card-body">                        

                        <div class="row">
                            <div class="col-sm-12 mb-3">
                                <label for="text-input">Multi Page Text <span class="text-danger">*</span></label>
                                <textarea class="froala-editor" name="text" id="text-input" placeholder="Content" required></textarea>
                                <div class="invalid-feedback">
                                    Please provide the text.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>                            
                        </div>                        

                    </div>
                </div>     

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
                </div>
            </form>
                
        </div>
	<!-- /Content End -->
	
</div>
<!-- /Page Content -->
				
{% endblock company_content %}

{% block scripts %}
<script>
    $(document).ready(() => {
        intializeFroala();
    });
</script>
{% endblock scripts %}