<footer data-aos="fade-in">
    <div class="container">

      <ul class="row list-default" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        {% for program in programs|slice:":10" %}
        <li itemprop="name" class="col col-md-3 col-12"><a itemprop="url" href="#">{{program.name}}</a></li>
        {% endfor %}    
      </ul>

      <div class="row" style="padding-top: 30px;">
     
        {% include "common_footer.html" %}
        


        
        <div class="col-md-12 foot_area_cnt">
          <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod gravida blandit. Vestibulum aliquam lobortis justo, eu tristique nunc ultrices sit amet. Fusce auctor pretium augue, id pellentesque augue congue ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras id leo consequat, scelerisque nisi sit amet, euismod augue. Proin ut metus velit. Pellentesque vehicula sem quis aliquet placerat. Aliquam ullamcorper sagittis ante at gravida.
   
   </p>
   
          <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod gravida blandit. Vestibulum aliquam lobortis justo, eu tristique nunc ultrices sit amet. Fusce auctor pretium augue, id pellentesque augue congue ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras id leo consequat, scelerisque nisi sit amet, euismod augue. Proin ut metus velit. Pellentesque vehicula sem quis aliquet placerat. Aliquam ullamcorper sagittis ante at gravida.
   
   </p>
   
   
          <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod gravida blandit. Vestibulum aliquam lobortis justo, eu tristique nunc ultrices sit amet. Fusce auctor pretium augue, id pellentesque augue congue ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras id leo consequat, scelerisque nisi sit amet, euismod augue. Proin ut metus velit. Pellentesque vehicula sem quis aliquet placerat. Aliquam ullamcorper sagittis ante at gravida.
   
   </p>
   
   
          <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod gravida blandit. Vestibulum aliquam lobortis justo, eu tristique nunc ultrices sit amet. Fusce auctor pretium augue, id pellentesque augue congue ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras id leo consequat, scelerisque nisi sit amet, euismod augue. Proin ut metus velit. Pellentesque vehicula sem quis aliquet placerat. Aliquam ullamcorper sagittis ante at gravida.
   
   </p>
             </div>
        
        
        <div class="col-md-12">
          <div class="copy-right-bx">
            <div class="copy-right-bx-cntnt">
              <span class="ftr-spn-cpy-1">&copy; <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script> BZIndia - Top Companies in India</span>
            </div>
          </div>
        </div>
      </div>
    </div>

     
  </footer>
   
    
  
 
<div class="mob-top_blk">

<div class="icon-spa whatsap-btn">
<a rel="noopener" itemprop="url" target="_blank" href="https://api.whatsapp.com/send?phone=919845272560" >
 <i class="fa fa-whatsapp" style="font-size: 17px; color:#fff;" aria-hidden="true"></i><span>Whatsapp</span>
</a></div>
               
<div class="icon-spa msg-btn">
<a rel="noopener" itemprop="url" href="mailto:collegeadmission.co@gmail.com">
<i class="fa fa-envelope" style="font-size: 16px; color:#fff;" aria-hidden="true"></i> <span>Mail Us</span>
</a></div>

<div class="icon-spa call-btn"><a rel="noopener" itemprop="url" href="tel:+919845272560">
<i class="fa fa-phone"  style="font-size: 15px; color:#fff;" aria-hidden="true"></i> <span>Call us</span>
</a></div>

</div>