{% extends "admin_company/base/base.html" %}
{% load static %}

{% block styles %}
<style>
	.text-area-field {
		max-width: 145px !important;
		white-space: normal !important;
		word-wrap: break-word !important;
		overflow-wrap: break-word !important;
	}
</style>
{% endblock styles %}

{% block company_content %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">									
					<h5 class="card-title">Registrations</h5>
				</div>		
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped table-nowrap custom-table mb-0 datatable">
							<thead>
								<tr>
									<th class="checkBox">
										<label class="container-checkbox">
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</th>
									<th>Title</th>
									<th>Sub Type</th>
									<th>Type</th>
									<th>Time Required</th>
									<th>Price</th>									
									<th class="text-end">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for registration in registrations %}
								<tr>
									<td class="checkBox">
										<label class="container-checkbox">
											<input registration="checkbox">
											<span class="checkmark"></span>
										</label>
									</td>
									<td>
										<a href="javascript.void(0)" class="avatar"><img alt="" src="{% if registration.image %}{{registration.image.url}}{% else %}{% static 'assets/img/c-logo2.png' %}{% endif %}"></a>
										<a href="javascript.void(0)">{{registration.title}}</a>
									</td>	
									<td>{{registration.sub_type.name}}</td>
									<td>{{registration.sub_type.type.name}}</td>
									<td>{{registration.time_required}}</td>
									<td>{{registration.price}}</td>									
									<td class="text-end">
										<div class="dropdown dropdown-action">
											<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item edit-toggle-btn" href="{% url 'superadmin:update_registration' current_company.slug registration.slug %}">Edit This Registration Type</a>
												<a class="dropdown-item delete-btn" href="#" data-bs-toggle="modal" data-bs-target="#delete_company" data-name="{{registration.sub_type.name}}" data-slug="{{registration.slug}}" >Remove This Registration Type</a>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>							
		</div>						
	</div>		
				
{% endblock company_content %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="delete_company" tabindex="-1" role="dialog" aria-modal="true">
	<div class="modal-dialog" role="document">
		<button type="button" class="close md-close" data-bs-dismiss="modal" aria-label="Close"> </button>
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="btn-close xs-close" data-bs-dismiss="modal"></button>
			  </div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form id="deletion-form" method="get">
							<h4><span class="text-danger">Removing</span> Registration. . .</h4>
							<div class="form-group row">
								<div class="col-md-12">
									<label class="col-form-label">Are you sure?</label> <br>
									<p><i>Registration:</i> <span id="deleting-object"></span></p>
								</div>
							</div>							
														
							<div class="text-center d-flex justify-content-between py-3">
								<button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded">Delete</button>&nbsp;&nbsp;
								<button type="button" class="btn btn-secondary btn-rounded" data-bs-dismiss="modal">Cancel</button>
							</div>
						</form>
					</div>
				</div>

			</div>

		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->

<!-- Edit Registration Type Modal (Start) -->
<div class="modal fade" id="edit_registration_type_modal" tabindex="-1" role="dialog" aria-modal="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title text-center">Edit Registration Type</h4>
				<button type="button" class="btn-close xs-close" data-bs-dismiss="modal"></button>
			  </div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form method="post" action="#" class="needs-validation" id="edit-service-type-form" novalidate>
							{% csrf_token %}
							<h4>Registration Type</h4>
							<div class="form-group row">
								<div class="col-md-12"><label class="col-form-label">Name <span class="text-danger">*</span></label></div>
								<div class="col-md-12">
									<input class="form-control" type="text" id="edit-name-input" placeholder="Name of Registration Type" name="name">
									<div class="invalid-feedback">
										Please enter a valid name containing only letters, spaces, hyphens, or apostrophes. Numbers and special characters are not allowed.
									</div>
									<div class="valid-feedback">
										Looks good!
									</div>
								</div>
								<div class="col-md-12"><label class="col-form-label">Description </label></div>
								<div class="col-md-12">
									<textarea class="form-control" name="description" id="edit-description-input" placeholder="Description"></textarea>									
								</div>
							</div>									
							<div class="text-center py-3">
								<button type="button" class="border-0 btn btn-primary btn-gradient-primary btn-rounded" id="update-button">Save</button>&nbsp;&nbsp;
								<button type="button" class="btn btn-secondary btn-rounded" data-bs-dismiss="modal">Cancel</button>
							</div>
						</form>
					</div>
				</div>

			</div>

		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->
<!-- Registration Type Modal (End) -->
 
{% endblock modal %}

{% block scripts %}
<script>
	$(document).ready(() => {
		$('.delete-btn').click( function () {
			const name = $(this).data('name');
			const slug = `{{current_company.slug}}`;
			const registrationSlug = $(this).data('slug');

			const actionUrl = `{% url 'superadmin:remove_registration' 'dummySlug' 'dummyRegistrationSlug' %}`.replace('dummySlug', slug).replace('dummyRegistrationSlug', registrationSlug);

			$('#deleting-object').html(name);
			$('#deletion-form').prop('action', actionUrl);
		});

		$('.edit-toggle-btn').click(function () {
			const name = $(this).data('name');
			const slug = `{{current_company.slug}}`;
			const registrationTypeSlug = $(this).data('slug');
			const description = $(this).data('description');

			const actionUrl = `{% url 'superadmin:update_registration_type' 'dummySlug' 'dummyRegistrationTypeSlug' %}`.replace('dummySlug', slug).replace('dummyRegistrationTypeSlug', registrationTypeSlug);

			$('#edit-name-input').val(name);
			$('#edit-description-input').val(description);
			$('#edit-service-type-form').prop('action', actionUrl);
		});

		let namePattern = /^[a-zA-Z\s'-]+$/;

		// Scripts of Registration Type (Start)
		function validateAddServiceCategoryForm() {  
			let formValid = true       

			const serviceCategory = $('#name-input').val().trim();            

			if (!serviceCategory || !namePattern.test(serviceCategory)) {
				$('#name-input').addClass('is-invalid');
				$('#name-input').focus();
				formValid = false;

			} else {
				$('#name-input').addClass('is-valid');
				$('#name-input').blur();
						
			}            

			if (formValid == true) {
				$('#add-service-type-form').submit()
			}            
		}    

		$('#submit-button').click(() => validateAddServiceCategoryForm());

		function validateEditServiceCategoryForm() {  
			let formValid = true       

			const serviceCategory = $('#edit-name-input').val().trim();            

			if (!serviceCategory || !namePattern.test(serviceCategory)) {
				$('#edit-name-input').addClass('is-invalid');
				$('#edit-name-input').focus();
				formValid = false;

			} else {
				$('#edit-name-input').addClass('is-valid');
				$('#edit-name-input').blur();
						
			}            

			if (formValid == true) {
				$('#edit-service-type-form').submit()
			}            
		}    

		$('#update-button').click(() => validateEditServiceCategoryForm());
		
		// Inputting

		$('#name-input, #edit-name-input').on('input', function () {
			if (!$(this).val()) {
				$(this).removeClass('is-valid').addClass('is-invalid');
			} else {
				if ($(this).prop('id') === "name-input" && !namePattern.test($(this).val())) {
					$(this).removeClass('is-valid').addClass('is-invalid');
				} else {
					$(this).removeClass('is-invalid').addClass('is-valid');
				}
			}
		});
		// Scripts of Registration Type (End)
	});
</script>
{% endblock scripts %}