{% extends "admin_company/base/base.html" %}
{% load static %}

{% block company_content %}
					
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">									
				<h5 class="card-title">List of Course Details</h5>
			</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped table-nowrap custom-table mb-0 datatable">
							<thead>
								<tr>
									<th class="checkBox">
										<label class="container-checkbox">
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</th>
									<th>Course Name</th>									
									<th class="text-end">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for course_detail in course_details %}
								<tr>
									<td class="checkBox">
										<label class="container-checkbox">
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</td>
									<td>										
										<a href="{% url 'superadmin:course_detail' current_company.slug course_detail.course.slug %}" >{{course_detail.course.name}}</a>
									</td>									
									
									<td class="text-center">
										<div class="dropdown dropdown-action">
											<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#">Edit This Course</a>
												<a class="dropdown-item delete-btn" href="#" data-bs-toggle="modal" data-bs-target="#delete_company" data-name="{{course.name}}" data-slug="{{course.slug}}" >Remove This Course</a>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>							
		</div>						
	</div>
	

<!-- /Page Content -->
{% endblock company_content %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="delete_company" tabindex="-1" role="dialog" aria-modal="true">
	<div class="modal-dialog" role="document">
		<button type="button" class="close md-close" data-bs-dismiss="modal" aria-label="Close"> </button>
		<div class="modal-content">

			<div class="modal-header">
				{% comment %} <h4 class="modal-title text-center">Delete Course</h4> {% endcomment %}
				<button type="button" class="btn-close xs-close" data-bs-dismiss="modal"></button>
			  </div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form id="deletion-form" method="get">
							<h4><span class="text-danger">Deleting</span> Course. . .</h4>
							<div class="form-group row">
								<div class="col-md-12">
									<label class="col-form-label">Are you sure?</label> <br>
									<p><i>Course:</i> <span id="deleting-object"></span></p>
								</div>
							</div>							
														
							<div class="text-center d-flex justify-content-between py-3">
								<button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded">Delete</button>&nbsp;&nbsp;
								<button type="button" class="btn btn-secondary btn-rounded">Cancel</button>
							</div>
						</form>
					</div>
				</div>

			</div>

		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->
{% endblock modal %}

{% block scripts %}
<script>
	$(document).ready(() => {
		$('.delete-btn').click( function () {
			const name = $(this).data('name');
			const slug = `{{current_company.slug}}`;
			const courseSlug = $(this).data('slug');

			$('#deleting-object').html(name);
			$('#deletion-form').prop('action', `/admin/remove_course/${slug}/${courseSlug}`);
		});
	});
</script>
{% endblock scripts %}