{% extends "base.html" %}
{% load static %}
{% block content %}
<!--banner-slider start -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      
    
      <div class="carousel-inner">
        {% for course in courses|slice:':3' %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" style="{% if forloop.counter == 1 %}background: url(/static/images/inner-pge-slider1.jpg);{% elif forloop.counter == 2 %}background: url(/static/images/inner-pge-slider2.jpg);{% else %}background: url(/static/images/BZindia-hm-banner.jpg);{% endif %}">
          <div class="overlayy">
            <div class="banner-slider-cntnt">
              <div>
                <h3>{{course.name}}</h3>
                <p>Every slide includes a background, which can be a picture or solid color.</p>
                <a href="#" class="primary_button" style="visibility: visible; " tabindex="-1">Read More</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- <div class="carousel-item" style="background: url(/static/images/inner-pge-slider2.jpg);">
          <div class="overlayy">
            <div class="banner-slider-cntnt">
              <div>
                <h3>Company Business Legal Registration in India</h3>
                <p>Every slide includes a background, which can be a picture or solid color.</p>
                <a href="#" class="primary_button" style="visibility: visible; " tabindex="-1">Read More</a>
              </div>

            </div>
          </div>
        </div>
        <div class="carousel-item" style="background: url(/static/images/BZindia-hm-banner.jpg);">
          <div class="overlayy">
            <div class="banner-slider-cntnt">
              <div>
                <h3>Company Business Legal Registration in India</h3>
                <p>Every slide includes a background, which can be a picture or solid color.</p>
                <a href="#" class="primary_button" style="visibility: visible; " tabindex="-1">Read More</a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    </div>

 
  <!--major clients-section start  -->

  <section class="major-sectin">
    <div class="major-clients-sldr-bx mb-5">
      <h2>CORPORATE PARTNERS
      </h2>
      <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
      <!-- venture slider -->

      <div class="major-clients-slider" data-aos="fade-up">
        {% for client in clients %}
        <div class="major-clients-slider_padd">
          <div>
            <a href="#">
              <img src="{{client.image.url}}" height="125" alt="" style="object-fit: covers;">
            </a>
          </div>
        </div>
        {% endfor %}
        {% comment %} <div class="major-clients-slider_padd">
          <div>
            <a href="#">
              <img src="{% static 'images/brets_residential_spoken_english_institute_india.webp' %}" alt="">
            </a>
          </div>
        </div>
        <div class="major-clients-slider_padd">
          <div>
            <a href="#">
              <img src="{% static 'images/envy_us_marketing_id_card_accessories_wholesale_india.webp' %}" alt="">
            </a>
          </div>
        </div>
        <div class="major-clients-slider_padd">
          <div>
            <a href="#">
              <img src="{% static 'images/ipcs_automation_companies_india.webp' %}" alt="">
            </a>
          </div>
        </div>
        <div class="major-clients-slider_padd">
          <div>
            <a href="#">
              <img src="{% static 'images/legalguides_associates_consultants_india.webp' %}" alt="">
            </a>
          </div>
        </div>
        <div class="major-clients-slider_padd">
          <div>
            <a href="#">
              <img src="{% static 'images/Taste-india-Bakery-Products-Wholesale-Manufacturers-Exporting.webp' %}" alt="">
            </a>
          </div>
        </div>
        <div class="major-clients-slider_padd">
          <div>
            <a href="#">
              <img src="{% static 'images/brets_residential_spoken_english_institute_india.webp' %}" alt="">
            </a>
          </div>
        </div>
        <div class="major-clients-slider_padd">
          <div>
            <a href="#">
              <img src="{% static 'images/envy_us_marketing_id_card_accessories_wholesale_india.webp' %}" alt="">
            </a>
          </div>
        </div>
        <div class="major-clients-slider_padd">
          <div>
            <a href="#">
              <img src="{% static 'images/ipcs_automation_companies_india.webp' %}" alt="">
            </a>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </section>

  <!--manjor clients-section end  -->

  <section class="inner_home_content_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12" data-aos="fade-up">
          <h1>{{company.name}}</h1>
          <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
          <p>{{company.description}}
            
            </p>
        </div>
      </div>
    </div>
  </section>

 

  <!-- registraton faq setion stat -->

  <section>
    <div class="container-fluid">

      <div class="registration-faq-section my-5"  data-aos="fade-up">
        <!-- <div class="registrtn-fq-bg-img">
        <img src="images/wht-we-do-bg.png" alt="">
      </div> -->
        <div class="row">
          <div class="col-md-8">

            <div class="regstrtn-faq-space">

              <div class="registrsn-fq-scrool-bar-clm">
                <h3>REGISTRATION FAQ'S</h3>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                <div class="registrsn-fq-scrool-bar-clm-cntnt">
                  <div class=" pre-scrollable" style="height: 500px;overflow-y: auto;">
                    
 <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
 
  <div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question" class="marg_btm_8">
    <h6 itemprop="name" class="faqs_accordion">What is the benefit of a Trademark Renewal?</h6>
    <div class="faqs_panel" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
      <p itemprop="text">content</p>
    </div>
  </div>
  
    <div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question" class="marg_btm_8">
    <h6 itemprop="name" class="faqs_accordion">What is the benefit of a Trademark Renewal?</h6>
    <div class="faqs_panel" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
      <p itemprop="text">content</p>
    </div>
  </div>
  
  
    <div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question" class="marg_btm_8">
    <h6 itemprop="name" class="faqs_accordion">What is the benefit of a Trademark Renewal?</h6>
    <div class="faqs_panel" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
      <p itemprop="text">content</p>
    </div>
  </div>
  
  
    <div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question" class="marg_btm_8">
    <h6 itemprop="name" class="faqs_accordion">What is the benefit of a Trademark Renewal?</h6>
    <div class="faqs_panel" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
      <p itemprop="text">content</p>
    </div>
  </div>
  
  
    <div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question" class="marg_btm_8">
    <h6 itemprop="name" class="faqs_accordion">What is the benefit of a Trademark Renewal?</h6>
    <div class="faqs_panel" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
      <p itemprop="text">content</p>
    </div>
  </div>


</div>
                    
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-4 ">

            <div class="regstrtn-faq-space"  data-aos="fade-up">

              <div class="faq-form-section">
                <h2>ONLINE REGISTRATION IN INDIA</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                <form action="" method="post">
                   <input type="text" name="name" placeholder="Your Name:"><br>
                   <input type="tel" name="number" placeholder="Phone Number:"><br>
                   <input type="email" name="email" placeholder="E-Mail Address:"><br>
             <select class="country" name="country">
                      <option value="0" selected disabled hidden>-- Select Services --</option>
                    <option value="usa">ISO registration</option>
                    <option value="canada">ISO registration</option>
                    <option value="uk">ISO registration</option>
                    <option value="australia">ISO registration</option>
 
                   </select><br>
                  <select class="country" name="state">
                      <option value="0" selected disabled hidden>-- Select State --</option>
                    <option value="Kerala">Kerala</option>
                   
                    <!-- Add more options as needed -->
                  </select><br>

                   <textarea name="message" rows="4" placeholder="Requirements:" cols="50"></textarea><br>
                  <div class="frm-btn-sctn">
                    <div>
                      <button class="primary_button" role="button" type="submit">SUBMIT</button>
                    </div>
                  </div>
                </form>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- registraton faq setion end -->


  
  <!-- registration-services-section start -->

  <section>
    <div class="container">
      <div class="offerd-service-section" data-aos="fade-up">
        <h2>OFFERED COURSES IN INDIA</h2>
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        <div class="offerd-service">
        
          {% for course in courses|slice:':10' %}
          <div style="padding: 5px;">
            <div class="position_relative img-scale max_size">
              <figure class="picher_doc">
                <img src="{% if course.image %}{{course.image.url}}{% else %}{% static 'images/Automation-Training-Institute-in-India.webp' %}{% endif %}" alt="" height="360.5" style="object-fit: cover;">
                <div class="opacity-medium bg-extra-black"></div>
            
                <div class="inner_text">
                  <h3 class="show_tital">{{course.name}}</h3>

                  <p class="display_block">
                    {{course.program.name}}
                  </p>
                
                  <a href="#" class="btn btn-text">Read More <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </figure>
            </div>
          </div>
          {% endfor %}
 
        </div>
      </div>
    </div>
  </section>

  <!-- registration-services-section end -->

  <!-- client-testimonial section start -->

  <section>
    <div class="client-testimonial-section">
      <div class="container">
        <h2>TESTIMONIALS</h2>
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        <div class="client-testimonial-slider" data-aos="fade-up">
          
          {% for testimonial in testimonials %}
          <div class="client-testimonial-slider-padd">
            <div class="client-testimonal-box">
              <div class="testmnl-clin-img-bg">
                <div class="testmnl-clin-img-bx">
                  <img src="{% if testimonial.image %}{{testimonial.image.url}}{% else %}{% static 'images/model-2911332_640 1.jpg' %}{% endif %}" alt="">
                </div>
              </div>
              <div class="testmnl-clin-review-bx">
                <div class="testmnl-clin-review">
                  <span>
                    <i class="fa-solid fa-quote-left"></i>
                    <span class="clnt-tesmnl-cmnt" title="{{testimonial.text}}">{{testimonial.text|slice:":165"}}{% if testimonial.text|length > 165 %}...{% endif %}</span>
                    <i class="fa-solid fa-quote-right"></i>
                  </span>
                </div>
                <div class="client-name">
                  <span>{{testimonial.names}}</span>
                </div>
                <div class="client-cmpny-dtls">
                  <span class="clnt-cmpny-name"> {{testimonial.course.name}}</span>
                  <span class="clnt-cmpny-location">{{testimonial.place}}</span>
                </div>
                <div class="client_review">
                  {% for i in testimonial.rating_range %}
                  {% if i < testimonial.rating %}
                  <span class="fa fa-star checked"></span>
                  {% else %}
                  <!-- <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span> -->
                  <span class="fa fa-star"></span>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}          

        </div>
      </div>
    </div>
  </section>
  
  
  
  
  {% include "find_near_by_slider.html" %}

  <!-- offered-service section end -->


  
 
<section class="destination_main">
<div class="destination_sub_bx">


    <div class="container">
     <h2 style="text-align:center;">FIND NEARBY COURSES</h2>
         <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
<div class="row">


      <div class="nearby-destinations" style="padding-bottom: 30px;">
       
        {% for course in nearby_courses|slice:':10' %}
        <div style="padding: 5px;">
          <div class="position_relative img-scale max_size">
            <figure class="picher_doc">
              <img src="{% if course.image %}{{course.image.url}}{% else %}{% static 'images/Automation-Training-Institute-in-India.webp' %}{% endif %}" height="366.325" style="object-fit: cover;" alt="">
              <div class="opacity-medium bg-extra-black"></div>
              <div class="date_top">
                <span><a href="#" tabindex="0">{{course.specialization}}</a></span>
              </div>
              <div class="inner_text">
                <h3 class="show_tital">{{course.name}}</h3>

                <p class="display_block">
                  {{course.program.name}}
                </p>
              
                <a href="#" class="btn btn-text">Read More <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </figure>
          </div>
        </div>
        {% endfor %}  
 
 
        </div>
        <a href="#" class="primary_button" style="margin: 0 auto;">VIEW MORE</a>
          </div>
    </div>
    </div>
  </section>
  
  {% include "blog_slider.html" %}
  
{% endblock content %}