{% extends "customer_base/base.html" %}
{% load static %}

{% block title %}Sizes{% endblock title %}

{% block content %}
			
<!-- Page Content -->
<div class="content container-fluid">

	<div class="crms-title row bg-white">
		<div class="col">
			<h3 class="page-title m-0">
			<span class="page-title-icon bg-gradient-primary text-white me-2">
				<i class="feather-database"></i>
			</span> Sizes </h3>
		</div>
		<div class="col text-end">
			<ul class="breadcrumb bg-white float-end m-0 ps-0 pe-0">
				<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
				<li class="breadcrumb-item active">Sizes</li>
			</ul>
		</div>
	</div>
	
	<!-- Page Header -->
	<div class="page-header pt-3 mb-0 ">
		<div class="row">
			<div class="col">
				<div class="dropdown">
					<a class="dropdown-toggle recently-viewed" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Recently Viewed</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Recently Viewed</a>
						<a class="dropdown-item" href="#">Items I'm following</a>
						<a class="dropdown-item" href="#">All Sizes</a>
						<a class="dropdown-item" href="#">Sizes added in the last 24 hours</a>
						<a class="dropdown-item" href="#">Sizes added in the last 7 days</a>
						<a class="dropdown-item" href="#">Sizes with no notes in the last month</a>
						<a class="dropdown-item" href="#">Sizes with no notes in the last 7 days</a>
					</div>
				</div>
			</div>
			<div class="col text-end">
				<ul class="list-inline-item ps-0">
					<li class="nav-item dropdown list-inline-item add-lists">
						<a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
							<div class="nav-profile-text">
								<i class="fa fa-th" aria-hidden="true"></i>
							</div>
						</a>
						<div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
							<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#add-new-list">Add New List View</a>
						</div>
					</li>
					<li class="list-inline-item">
						<a href="#" class="add btn btn-gradient-primary font-weight-bold text-white todo-list-add-btn btn-rounded" id="add-size" data-bs-toggle="modal" data-bs-target="#add_product_size">New Size</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Page Header -->


	<!-- Content Starts -->
	<div class="row">
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<div class="col-md-12">
			<div class="card mb-0">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped table-nowrap custom-table mb-0 datatable">
							<thead>
								<tr>
									<th class="checkBox">
										<label class="container-checkbox">
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</th>
									<th>Size</th>
									<th>Category</th>
									<th>Standard</th>
									<th class="text-end">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for size in sizes %}
								<tr>
									<td class="checkBox">
										<label class="container-checkbox">
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</td>									
									<td>{{size.name}}</td>
									<td>{{size.category.name}}</td>
									<td>{{size.standard}}</td>
									<td class="text-end">
										<div class="dropdown dropdown-action">
											<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item edit-toggle-btn" href="#" data-bs-toggle="modal" data-bs-target="#update_size" data-name="{{size.name}}" data-category="{{size.category.slug}}" data-standard="{{size.standard}}" data-slug="{{size.slug}}">Edit This Size</a>
												<a class="dropdown-item delete-btn" href="#" data-bs-toggle="modal" data-bs-target="#delete_company" data-name="{{size.name}}" data-slug="{{size.slug}}">Remove This Size</a>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Content End -->
	
</div>
<!-- /Page Content -->
				
{% endblock content %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="delete_company" tabindex="-1" role="dialog" aria-modal="true">
	<div class="modal-dialog" role="document">
		<button type="button" class="close md-close" data-bs-dismiss="modal" aria-label="Close"> </button>
		<div class="modal-content">

			<div class="modal-header">				
				<button type="button" class="btn-close xs-close" data-bs-dismiss="modal"></button>
			  </div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form id="deletion-form" method="get">
							<h4><span class="text-danger">Removing</span> Size. . .</h4>
							<div class="form-group row">
								<div class="col-md-12">
									<label class="col-form-label">Are you sure?</label> <br>
									<p><i>Size:</i> <span id="deleting-object"></span></p>
								</div>
							</div>							
														
							<div class="text-center d-flex justify-content-between py-3">
								<button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded">Delete</button>&nbsp;&nbsp;
								<button type="button" class="btn btn-secondary btn-rounded" data-bs-dismiss="modal">Cancel</button>
							</div>
						</form>
					</div>
				</div>

			</div>

		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->

<!-- Size Modal (Start) -->
<div class="modal fade" id="update_size" tabindex="-1" role="dialog" aria-modal="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title text-center">Update Size</h4>
				<button type="button" class="btn-close xs-close" data-bs-dismiss="modal"></button>
			  </div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form method="post" action="#" class="needs-validation" id="update-size-form" novalidate>
							{% csrf_token %}
							<h4>Size</h4>
							<div class="form-group row">
								<div class="col-md-12"><label class="col-form-label">Name <span class="text-danger">*</span></label></div>
								<div class="col-md-12">
									<input class="form-control" type="text" id="name-input" placeholder="Name of Size" name="name">
									<div class="invalid-feedback">
										Please enter a valid name containing only letters, spaces, hyphens, or apostrophes. Numbers and special characters are not allowed.
									</div>
									<div class="valid-feedback">
										Looks good!
									</div>
									<span><small>Insert the sizes seperated with commas (',') to add multiple sizes at once.</small></span>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-12 mb-3">
									<label for="product-category-dropdown">Category <span class="text-danger">*</span></label>
									<select class="form-control" id="size-category-dropdown" name="category" required>
										<option value="" hidden disabled selected>Select Category</option>
										{% for category in categories %}
										<option value="{{category.slug}}">{{category.name}}</option>
										{% endfor %}
									</select>
									<div class="invalid-feedback">
										Please provide a valid category.
									</div>
									<div class="valid-feedback">
										Looks good!
									</div>
								</div>                            										                                                       
							</div>									
							<div class="form-row">
								<div class="col-md-12 mb-3">
									<label for="standard-dropdown">Standards (optional)</label>
									<select class="form-control" id="standard-dropdown" name="standard" required>
										<option value="" selected>Select Standards</option>
										{% for standard in standards %}
										<option value="{{standard}}">{{standard}}</option>
										{% endfor %}
									</select>
									<div class="invalid-feedback">
										Please provide a valid category.
									</div>
									<div class="valid-feedback">
										Looks good!
									</div>
								</div>                            										                                                       
							</div>
							<div class="text-center py-3">
								<button type="button" class="border-0 btn btn-primary btn-gradient-primary btn-rounded" id="size-update-button">Save</button>&nbsp;&nbsp;
								<button type="button" class="btn btn-secondary btn-rounded" data-bs-dismiss="modal">Cancel</button>
							</div>
						</form>
					</div>
				</div>

			</div>

		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->
<!-- Size Modal (End) -->
{% endblock modal %}

{% block scripts %}
<script>
	$(document).ready(() => {
		$('.delete-btn').click( function () {
			const name = $(this).data('name');
			const slug = $(this).data('slug');

			$('#deleting-object').html(name);
			$('#deletion-form').prop('action', `/customer/delete_size/${slug}`);
		});

		$('.edit-toggle-btn').click(function () {
			const name = $(this).data('name');
			const category = $(this).data('category');
			const standard = $(this).data('standard');			
			const slug = $(this).data('slug');

			$('#name-input').val(name);
			$('#size-category-dropdown').val(category);
			if (standard != "None" && standard != "") {
				$('#standard-dropdown').val(standard);
			}
			$('#update-size-form').prop('action', `/customer/update_size/${slug}`);
		});

		// Scripts of Product Size (Start)
		function validateUpdateSizeForm() {
			let sizePattern = /^[a-zA-Z\s,'\-\d]+(\.\d+)?$/;

			const data = {}   
			let formValid = true       

			let productSize = $('#name-input').val();
			if (productSize) {
				productSize = productSize.trim();
			}
			let category = $('#size-category-dropdown').val()
			if (category) {
				category = category.trim();
			}

			if (!productSize || !sizePattern.test(productSize)) {
				$('#name-input').addClass('is-invalid');
				$('#name-input').focus();
				formValid = false;

			} else {
				$('#name-input').addClass('is-valid');
				$('#name-input').blur();
						
			}
			
			if (!category) {
				$('#size-category-dropdown').addClass('is-invalid');
				$('#size-category-dropdown').focus();
				formValid = false;
			} else {
				$('#size-category-dropdown').addClass('is-valid');
				$('#size-category-dropdown').blur();
						
			}


			if (formValid == true) {
				$('#update-size-form').submit()
			}            
		}    

		$('#size-update-button').click(() => validateUpdateSizeForm());

		// Inputting

		$('#name-input').on('input', function () {
			if (!$(this).val()) {
				$(this).addClass('is-invalid');
				$(this).removeClass('is-valid');
			} else {
				$(this).addClass('is-valid');
				$(this).removeClass('is-invalid');
			}
		});

		// changing
		$('#size-category-dropdown').on('change', function () {
			if (!$(this).val()) {
				$(this).addClass('is-invalid');
				$(this).removeClass('is-valid');

			} else {
				$(this).addClass('is-valid');
				$(this).removeClass('is-invalid');
			}
		})
		
		// Scripts of Product Size (End)
	});
</script>
{% endblock scripts %}