<li class="submenu">
    <a href="#" {% if product_page %}class="active subdrop"{% endif %}><i class="feather-box"></i> <span> Products</span>
        <span class="menu-arrow"></span>
    </a>
    <ul class="sub-menus">
        <li><a href="{% url 'customer:products' %}" {% if request.path == "/customer/products/" %}class="active"{% endif %}>All Products</a></li>
        <li><a href="{% url 'customer:add_product' %}" {% if request.path == "/customer/add_product/" %}class="active"{% endif %}>Add Products</a></li>									
    </ul>
</li>
<li class="submenu">
    <a href="#" {% if product_brand_page %}class="active subdrop"{% endif %}><i class="feather-tag"></i> <span> Brands</span>
        <span class="menu-arrow"></span>
    </a>
    <ul class="sub-menus">
        <li><a href="{% url 'customer:brands' %}" {% if request.path == "/customer/product_brands/" %}class="active"{% endif %}>All Brands</a></li>
        <li><a href="#" data-bs-toggle="modal" data-bs-target="#add_product_brand">Add Brand</a></li>									
    </ul>
</li>
<li class="submenu">
    <a href="#" {% if product_category_page %}class="active subdrop"{% endif %}><i class="feather-grid"></i> <span> Categories</span>
        <span class="menu-arrow"></span>
    </a>
    
    <ul class="sub-menus">
        <li><a href="{% url 'customer:product_categories' %}" {% if request.path == "/customer/product_categories/" %}class="active"{% endif %}>All Categories</a></li>
        <li><a href="#" data-bs-toggle="modal" data-bs-target="#add_product_category">Add Category</a></li>									
    </ul>
</li>
<li class="submenu">
    <a href="#" {% if product_sub_category_page %}class="active subdrop"{% endif %}><i class="feather-grid"></i> <span> Sub Categories</span>
        <span class="menu-arrow"></span>
    </a>
    
    <ul class="sub-menus">
        <li><a href="{% url 'customer:product_sub_categories' %}" {% if request.path == "/customer/product_sub_categories/" %}class="active"{% endif %}>All Sub Categories</a></li>
        <li><a href="#" data-bs-toggle="modal" data-bs-target="#add_product_sub_category">Add Sub Category</a></li>									
    </ul>
</li>
<li class="submenu">
    <a href="#" {% if product_size_page %}class="active subdrop"{% endif %}><i class="feather-maximize"></i> <span> Sizes</span>
        <span class="menu-arrow"></span>
    </a>
    <ul class="sub-menus">
        <li><a href="{% url 'customer:sizes' %}" {% if request.path == "/customer/sizes/" %}class="active"{% endif %}>All Sizes</a></li>
        <li><a href="#" data-bs-toggle="modal" data-bs-target="#add_product_size">Add Sizes</a></li>									
    </ul>
</li>
<li class="submenu">
    <a href="#" {% if product_color_page %}class="active subdrop"{% endif %}><i class="feather-droplet"></i> <span> Colors</span>
        <span class="menu-arrow"></span>
    </a>
    <ul class="sub-menus">
        <li><a href="{% url 'customer:colors' %}" {% if request.path == "/customer/colors/" %}class="active"{% endif %}>All Colors</a></li>
        <li><a href="#" data-bs-toggle="modal" data-bs-target="#add_product_color">Add Color</a></li>									
    </ul>
</li>